notebook==4.4.1

# Streamlit
streamlit

# Visualization
plotly
scikit-image
#opencv-python==4.5.2.54
opencv-python==4.5.1.48

# Data handling
scipy

# Preprocessing
nibabel

# Deep learning
sklearn
tensorflow-cpu



